body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flipContainer{
  perspective: 1000px;
}

.card{
  transform-style: preserve-3d;
  transition-duration: 1s;
}
